* {
  padding: 0;
  margin: 0;
  font-family: "Text Me One", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.links {
  color: #000000;
}
.teko {
  font-family: "Teko", sans-serif;
}

.project-Name {
  font-size: 11rem;
  line-height: 10rem;
}

.home-Page {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 5rem;
  padding: 5rem;
  margin-top: 5rem;
}

.options-Settings {
  margin-top: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  width: 20rem;
  margin-bottom: 2rem;
  height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  justify-content: space-between;
  padding-inline: 3rem;
  color: white;
  box-shadow: 5px 8px 6px 8px #888888;
  transition: transform 0.5s;
}

.options-Settings:hover {
  transform: scale(1.05);
}

/* ---------------Page Layout-------------- */

.header {
  background-color: #b1b2b5;
}


.navbar {
  background-color: #b1b2b5;
}

h2 {
  margin-left: 0.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.nav-Bar {
  text-align: center;
}

.main-Option {
  margin-bottom: 1.5rem;
}

.setting-Icon {
  position: absolute;
  bottom: 20px;
  margin-left: -1rem;
}

.title-Section {
  margin: 1.5rem 2rem 0;
  display: flex;
  justify-content: space-between;
}

.description {
  margin-top: 1rem;
}

.tabs {
  margin-inline: auto;
  margin-top: 3rem;
  max-width: 90%;
}

.allgemein-Form {
  margin-top: 2rem;
  background-color: #b1b2b5;
  padding: 1rem 0 2rem 2rem;
  max-width: 32rem;
  border-radius: 0.5rem;
}

.segment-Form {
  margin-top: 2rem;
  background-color: #b1b2b5;
  padding: 1rem 0 1rem 2rem;
  max-width: 32rem;
  border-radius: 0.5rem;
}

.input-allgemein {
  max-width: 30rem;
}

.dates {
  margin-left: 0;
}

.link {
  color: #ffffff;
}

/* ---------------Form-------------- */

.form {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: 10rem;
}

.item {
  flex: 1 1 auto;
  min-width: 15%;
  padding: 10px;
  background-color: rgba(100, 102, 103, 0.342);
  height: 80rem;
  box-sizing: border-box;
}

/* ---------------new segment-------------- */
.box {
  min-width: 250px;
}

.formular {
  margin-top: 0.5rem;
}

.segment {
  gap: 4rem;
  flex-wrap: wrap;
}

.newSegment {
  margin-top: 1.5rem;
  background-color: #b1b2b5;
  height: 430px;
  width: 250px;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: inset 0 0 5px #000000;
}

.newSegmente:hover {
  background-color: #d5d5d6;
}

.keyword {
  font-weight: bold;
}

/* ---------------my Courses-------------- */
.courseList {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.course {
  box-shadow: inset 0 0 5px #000000;
  background-color: #a4a4a5;
  width: 10rem;
  height: 5rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  text-align: center;
  padding: 3rem;
}

.createOption{
  background-color: #d5d5d6;
  color: rgb(139, 139, 139);
  width: 15rem;
  height: 5rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
}

.newCourse {
  background-color: #d5d5d6;
  color: rgb(139, 139, 139);
  min-width: 15rem;
  min-height: 10rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  text-align: right;
  padding-top: 5rem;
  padding-right: 1rem;
}

.course:hover {
  background-color: #fd7e14;
  color: white;
}
.createOption:hover {
  background-color: #fd7d14bd;
  color: white;
}
.confirm-Alert{
  max-width: 20rem;
  box-shadow: inset 0 0 5px #000000;
  background-color: rgb(128, 128, 128);
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  padding: 1.5rem;
}
.confirm-Alert-Options{
  margin-top: 1rem;
  margin-left: 65%;
  gap: .5rem;
  display: flex;
}

.submit-Btn{
  float: right;
  margin-bottom: 1rem;
}
/* ---------------days-------------- */

.days {
  background-color: #a4a4a5;
  min-width: 250px;
  max-width: 250px;
  text-align: center;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  box-shadow: inset 0 0 5px #000000;
}

.days:hover {
  background-color: rgb(253, 126, 20);
  background: darkblue, dodgerblue;
}

.day-view .month-event,
.week-view .month-event {
  display: none;
}

.dayViewTable{
  width: 100%;
  border-collapse: collapse;
}

.weekViewTable{
  width: 100%;
  border-collapse: collapse;
}

.tr{
  width: 100%;
  position: relative;
  transition: transform 0.3s;
}

.tr:hover {
  transform: scale(101%);
}


.thTHead {
  border: 1px solid black;
  padding: 10px;
  width: 20%;
}

.thTHeadTime {
  border: 1px solid black;
  padding: 10px;
  width: 15%;
}

.td {
  height: 1800px;
  border: 1px solid black;
}

.tdDay {
  height: 7rem;
  padding: 0rem;
  width: 10rem;
  border: 1px solid #000000;
  padding: 1rem;
}

.td:hover {
  background-color: #e1916c13;
}

.rnd {
  width: 100;
  padding-right: 1rem;
  background: linear-gradient(
    to left,
    rgba(253, 126, 20, 0.8),
    rgba(255, 255, 255, 0)
  );
  text-align: right;
}
.courseViewDaysContainer {
  width: 50%;
}
.courseViewWeekContainer{
  width: 50%;
}
.courseViewDays {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.nonInteractive {
  pointer-events: none;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: auto;
}

.viewPageContent {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   margin-top: 2rem;
  }

@media print {
  *{
    margin: 0;
    margin-left: 0rem;
  }
  @page {
    size: A4;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  body * {
    transform: scale(1);
  }

  hr{
    display: none;
  }
  .header{
    display: none;
  }

  .navbar{
    display: none;
  }
  .printBtn{
    display: none;
  }
  .tit{
    background-color: #fd7d144c;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .courseTitle{
    display: inline;
    text-align: right;
    display: block;
    margin-top: -5rem;
    text-align: center;
    margin-left: -5rem;
    margin-bottom: .5rem;
  }
  .autorName{
    margin-left: -5rem;
    margin-top: 3rem;
  }
  .viewPageHeader{
    margin: -2rem 0rem -4rem 0rem;
  }
  .courseViewDaysContainer{
    display: block;
    width: 100%;
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .courseViewDays {
     margin-right: 1rem;
     background-color: transparent;
  }
  .viewPageContent {
    display: flex;
    flex-direction: column;
    margin-left: -7rem;
    page-break-inside: auto;
  }
  .viewPageContent > *:first-child {
     order: 2; 
  }
  .viewPageContent > *:last-child {
    order: 1
  }
  .dayNumberDayView{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .editCourseIcon{
    display: none;
  }
  .dayViewTable{
    text-align: center;
    width: 100%;
    background-color: #fd7d142e;
  }

  table{
    page-break-after: auto
  }
  tr{
    page-break-inside: avoid;
    page-break-after: auto
  }
  td{
    page-break-inside: avoid;
    page-break-after: auto
  }
  thead {
    display: table-header-group
  }
  tfoot {
    display: table-footer-group
  }

  .thTHead {
    border: 2px solid black;
    text-align: left;
  }

  .thTHeadTime {
    border: 2px solid black;
    text-align: left;
  }

  .td {
    border: 2px solid black;
    text-align: left;
    height: 40rem;
  }

  .tdDay {
    height: 5rem;
    padding: 0rem;
    width: 10rem;
    border: 2px solid #000000;
    padding: 1rem;
    text-align: left;
  }
  .courseViewWeekContainer {
    display: none; 
  }
}

@media only screen and (max-width: 1210px){
  .home-Page{
    margin-top: 0;
    gap: 3rem;
  }
}