*{
 padding: 0;
 margin: 0;
 font-family: 'Text Me One', sans-serif;
}
.links {
 color: black;
}
.teko{
 font-family: 'Teko', sans-serif;
}

.project-Name{
 font-size: 180px; 
 line-height: 10rem;
}

.home-Page{
 margin-top: 13%;
 display: grid;
 grid-template-columns: 45% 55%;
 text-align: center;
 align-items: center;
 gap: 20%;
 margin-inline: 15rem;
 background-image: url(./images/bg.png);
}

.options-Settings{
 border-radius: 2rem;
 display: flex;
 align-items: center;
 width: 28rem;
 margin-bottom: 2rem;
 height: 5rem;
 font-size: 1.5rem;
 text-align: center;
 justify-content: space-between;
 padding-inline: 3rem;
 color: white;
}

/* ---------------Page Layout-------------- */

.header {
 background-color: #b1b2b5;
}

.navbar {
 background-color: #a4a4a5;
}

h2 {
 margin-left: .5rem;
 margin-top: 1rem;
 font-size: 2rem;
}

.nav-Bar {
 text-align: center;
}

.main-Option {
 margin-bottom: 1.5rem;
}

.setting-Icon {
 margin-top: 24rem;
}

.title-Section {
 margin: 1.5rem 2rem 0;
 display: flex;
 justify-content: space-between;
}

.description {
 margin-top: 1rem;
}

.tabs {
 margin-inline: auto;
 margin-top: 3rem;
 max-width: 90%;
}

.allgemein-Form {
 margin-top: 2rem;
 background-color: #b1b2b5;
 padding: 1rem 0 2rem 2rem;
 max-width: 32rem;
 border-radius: .5rem;
}

.segment-Form {
 margin-top: 2rem;
 background-color: #b1b2b5;
 padding: 1rem 0 1rem 2rem;
 max-width: 32rem;
 border-radius: .5rem;
}

.input-allgemein {
 max-width: 30rem;
}

.dates {
 margin-left: 0;
}

/* ---------------new segment-------------- */

.box {
 min-width: 250px
}

.segment {
 gap: 4rem;
 flex-wrap: wrap;
}

.newSegment{
 margin-top: 1.5rem;
 background-color: #b1b2b5;
 height: 430px;
 width: 250px;
 border-radius: .5rem;
 padding: 2rem;
}

.newSegmente:hover{
 background-color: #d5d5d6;
}

.keyword{
 font-weight: bold;
}

/* ---------------my Courses-------------- */
.courseList{
 margin-top: 3rem;
 display: flex;
 gap: 2rem;
 flex-wrap: wrap;

}

.course{
 background-color: #a4a4a5;
 min-width: 15rem;
 max-width: 15rem;
 min-height: 10rem;
 max-height: 10rem;
 border-bottom-right-radius: 3rem;
 border-top-left-radius: 1rem;
 text-align: center;
 padding: 3rem
}

.newCourse{
  background-color: #d5d5d6;
  color: rgb(139, 139, 139);
  min-width: 15rem;
  min-height: 10rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  text-align: right;
  padding-top: 5rem;
  padding-right: 1rem;
}

.course:hover{
 background-color: #fd7e14;
 color: white;
}
.newCourse:hover{
 background-color: #fd7d14bd;
 color: white;
}